table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1271px;
  border: 1px solid #ddd;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d7d5f1;
}
/* h2 {
  margin-left: 500px;
} */
button {
  background-color: rgb(146, 146, 240);
  color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
  border-radius: 4px;
}
#Deletebutton {
  border-radius: 50px;
}
body {
  font-family: arial, sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.modal-content > div {
  margin-bottom: 10px;
}
.modal-content > div span {
  color: red;
  font-size: 12px;
  display: flex;
}
.modal-content > div:last-child {
  margin-bottom: 10px;
  margin-right: 7px;
}
#cancelButton {
  background-color: #ada0c3;
  margin-right: 26px;
  padding: 10px;
}
#submitButton {
  padding: 10px;
}
.modal-content h3 {
  color: #35357d;
  margin-top: 0px;
}
input {
  border-radius: 6px;
  padding: 10px;
  border: 2px solid #404090;
}
input:focus {
  outline: none;
}
h2{
  display: flex;
  align-items: center;
  place-content: center;
  color: #35357d;
  margin-top: 20px;
}
.main{
  overflow-x: auto;
  margin-top: 10px;
}
@media screen and (max-width: 992px) {
  .subButton {
   display: flex;
   flex-direction: row;
   place-content: center;
   align-items: center;
  }
  h2{
    font-size: 22px;
  }
}